.App {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(5, 50px);;
  column-gap: 5px;
  row-gap: 5px;
  width: 215px;
  padding: 5px;
  margin: 25px auto;
  background: #feceab;
  border-radius: 3px;
}